<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectFAQListCount">
	SELECT COUNT(*) "COUNT"
	FROM FAQ
</entry>

<entry key="selectFAQListCount123">
	SELECT COUNT(*) "COUNT"
	FROM FAQ
	WHERE FAQ_STATUS='Y'
</entry>

<entry key="selectFAQList">
	SELECT *
	FROM(
	SELECT ROWNUM R, A.*
	FROM(
	SELECT FAQ_NO, CATE_NAME, FAQ_TITLE, FAQ_CONTENT, FAQ_STATUS
	FROM FAQ F, CATEGORY C
	WHERE F.FAQ_CATE = C.CATE_NO
    ORDER BY FAQ_NO DESC) A)
	WHERE R BETWEEN ? AND ?
</entry>

<entry key="selectFAQList123">
	SELECT *
	FROM(
	SELECT ROWNUM R, A.*
	FROM(
	SELECT FAQ_NO, CATE_NAME, FAQ_TITLE, FAQ_CONTENT, FAQ_STATUS
	FROM FAQ F, CATEGORY C
	WHERE F.FAQ_CATE = C.CATE_NO AND FAQ_STATUS = 'Y'
    ORDER BY FAQ_NO DESC) A)
	WHERE R BETWEEN ? AND ?
</entry>

<entry key="ajaxHideSc">
	UPDATE FAQ
	SET FAQ_STATUS = 'N'
	WHERE FAQ_NO = ?
</entry>

<entry key="ajaxOpenSc">
	UPDATE FAQ
	SET FAQ_STATUS = 'Y'
	WHERE FAQ_NO = ?
</entry>

<entry key="insertFAQ">
	INSERT INTO FAQ(FAQ_NO, FAQ_CATE, FAQ_TITLE, FAQ_CONTENT, FAQ_STATUS)
	VALUES(SEQ_FANO.NEXTVAL, ?,?,?,'Y')
</entry>

<entry key="updateFAQ">
	UPDATE FAQ
	SET FAQ_CATE = ?, FAQ_TITLE = ?, FAQ_CONTENT = ?
	WHERE FAQ_NO = ?
</entry>

<entry key="searchFAQCountTitle">
	SELECT COUNT(*) "COUNT"
	FROM FAQ
    WHERE INSTR(FAQ_TITLE, ?)>0
</entry>
<entry key="searchFAQCountselect">
	SELECT COUNT(*) "COUNT"
	FROM FAQ F, CATEGORY C
	WHERE F.FAQ_CATE = C.CATE_NO AND INSTR(CATE_NAME, ?)>0
</entry>

<entry key="searchFAQTitle">
	SELECT *
	FROM(
	SELECT ROWNUM R, A.*
	FROM(
	SELECT FAQ_NO, C.CATE_NAME, FAQ_TITLE, FAQ_CONTENT, FAQ_STATUS
	FROM FAQ F, CATEGORY C
	WHERE F.FAQ_CATE = C.CATE_NO AND INSTR(FAQ_TITLE, ?)>0
	ORDER BY FAQ_NO DESC) A)
	WHERE R BETWEEN ? AND ?
</entry>

<entry key="searchFAQselect">
	SELECT *
	FROM(
	SELECT ROWNUM R, A.*
	FROM(
	SELECT FAQ_NO, C.CATE_NAME, FAQ_TITLE, FAQ_CONTENT, FAQ_STATUS
	FROM FAQ F, CATEGORY C
	WHERE F.FAQ_CATE = C.CATE_NO AND INSTR(C.CATE_NAME, ?)>0
	ORDER BY FAQ_NO DESC) A)
	WHERE R BETWEEN ? AND ?
</entry>

<entry key="selectQNAListCount">
	SELECT COUNT(*) "COUNT"
	FROM QNA
</entry>

<entry key="selectQNAList">
	SELECT *
	FROM(
	SELECT ROWNUM R, A.*
	FROM(
	SELECT QNA_NO, CATE_NAME, QNA_ID, QNA_ENTERDATE, QNA_TITLE, QNA_CONTENT, QNA_ANSWERDATE, QNA_ANSWER, QNA_STATUS
	FROM QNA Q, CATEGORY C
	WHERE Q.QNA_CATE = C.CATE_NO
    ORDER BY QNA_NO DESC) A)
	WHERE R BETWEEN ? AND ?
</entry>

<entry key="selectQNA">
	SELECT QNA_NO, CATE_NAME, QNA_ID, QNA_ENTERDATE, QNA_TITLE, QNA_CONTENT, QNA_ANSWERDATE, QNA_ANSWER, QNA_STATUS
	FROM QNA Q, CATEGORY C
	WHERE Q.QNA_CATE = C.CATE_NO AND QNA_NO = ?
</entry>

<entry key="ajaxEnrollAnswer">
	UPDATE QNA
	SET QNA_ANSWER = ?, QNA_STATUS = 'N' , QNA_ANSWERDATE = SYSDATE
	WHERE QNA_NO = ?

</entry>

<entry key="searchQNACountTitle">
	SELECT COUNT(*) "COUNT"
	FROM QNA Q
    WHERE INSTR(QNA_TITLE, ?)>0
</entry>
<entry key="searchQNACountselect">
	SELECT COUNT(*) "COUNT"
	FROM QNA Q, CATEGORY C
	WHERE Q.QNA_CATE = C.CATE_NO AND INSTR(CATE_NAME, ?)>0
</entry>

<entry key="searchQNATitle">
	SELECT *
	FROM(
	SELECT ROWNUM R, A.*
	FROM(
	SELECT QNA_NO, CATE_NAME, QNA_ID, QNA_ENTERDATE, QNA_TITLE, QNA_CONTENT, QNA_ANSWERDATE, QNA_ANSWER, QNA_STATUS
	FROM QNA Q, CATEGORY C
	WHERE Q.QNA_CATE = C.CATE_NO AND INSTR(QNA_TITLE, ?)>0
	ORDER BY QNA_NO DESC) A)
	WHERE R BETWEEN ? AND ?
</entry>

<entry key="searchQNAselect">
	SELECT *
	FROM(
	SELECT ROWNUM R, A.*
	FROM(
	SELECT QNA_NO, CATE_NAME, QNA_ID, QNA_ENTERDATE, QNA_TITLE, QNA_CONTENT, QNA_ANSWERDATE, QNA_ANSWER, QNA_STATUS
	FROM QNA Q, CATEGORY C
	WHERE Q.QNA_CATE = C.CATE_NO AND INSTR(CATE_NAME, ?)>0
	ORDER BY QNA_NO DESC) A)
	WHERE R BETWEEN ? AND ?
</entry>

	<entry key="userSearchFAQTitleCount">
		SELECT COUNT(*) COUNT
		FROM FAQ
		WHERE INSTR(FAQ_TITLE,?)>0
	</entry>
	
	<entry key="userSearchFAQContentCount">
		SELECT COUNT(*) COUNT
		FROM FAQ
		WHERE INSTR(FAQ_CONTENT,?)>0
	</entry>
	
	<entry key="userSelectSearchTitleList">
        SELECT*
	   		FROM(
	    	SELECT ROWNUM RNUM,A.*
	        FROM
	        	(
		         SELECT FAQ_NO,CATE_NAME,FAQ_TITLE,FAQ_CONTENT
		         FROM FAQ
		         JOIN CATEGORY ON(FAQ_CATE = CATE_NO)
                 WHERE INSTR(FAQ_TITLE,?)>0
                 AND FAQ_STATUS='Y'
		         ORDER BY FAQ_NO DESC
	           	) A
	    )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="userSelectSearchContentList">
        SELECT*
	   		FROM(
	    	SELECT ROWNUM RNUM,A.*
	        FROM
	        	(
		         SELECT FAQ_NO,CATE_NAME,FAQ_TITLE,FAQ_CONTENT
		         FROM FAQ
		         JOIN CATEGORY ON(FAQ_CATE = CATE_NO)
                 WHERE INSTR(FAQ_CONTENT,?)>0
                 AND FAQ_STATUS='Y'
		         ORDER BY FAQ_NO DESC
	           	) A
	    )
		WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="userDetailFAQ">
	SELECT FAQ_NO,CATE_NAME,FAQ_TITLE,FAQ_CONTENT 
	FROM FAQ 
	JOIN CATEGORY ON(FAQ_CATE=CATE_NO)
	WHERE FAQ_NO=?
	AND FAQ_STATUS='Y'
	</entry>

	<entry key="userBasket">

	SELECT BASKET_NO,PRO_IMAGE,PRO_NAME,PRO_PRICE,PAY_ORDERNO
	FROM BASKET B
	JOIN PRODUCT USING(PRO_NO)
	WHERE BA_STATUS='Y'AND USER_NO = ?
	
	</entry>
<entry key="selectUserQNA">
	
	SELECT QNA_NO, CATE_NAME, QNA_ID, QNA_ENTERDATE, QNA_TITLE, QNA_CONTENT, QNA_ANSWERDATE, QNA_ANSWER, QNA_STATUS
	FROM QNA Q, CATEGORY C
	WHERE Q.QNA_CATE = C.CATE_NO AND QNA_ID = ?
	ORDER BY QNA_ENTERDATE ASC	

</entry>

<entry key ="insertUserQNA">
	INSERT INTO QNA(QNA_NO, QNA_CATE, QNA_ID, QNA_ENTERDATE, QNA_TITLE, QNA_CONTENT)
	VALUES (SEQ_QNO.NEXTVAL, ?, ?, SYSDATE, ?, ?)
</entry>

<entry key="insertBasket">
	INSERT INTO BASKET(
				BASKET_NO, 
				USER_NO, 
				PRO_NO, 
				PAY_ORDERNO, 
				BA_STATUS)
	VALUES(SEQ_BANO.NEXTVAL, ?,?,?,'Y')


</entry>

<entry key="userBaskets">
	SELECT *
	FROM BASKET
	WHERE BA_STATUS ='Y'
	
	</entry>

</properties>