/* common */

body{
  color: #333;
  font-size: 16px;
  line-height: 1.4;
  font-family: sans-serif;
  
  left: 34px;
}


/* header */
header{
  width:95%;
  height: 250px;
  margin:auto;
  position: relative;
  top: 0%;
}
header .inner{
  position: absolute;
  width: 100%;
  height: 100%;
  margin:auto;
}
header .inner .logo{
  height: 40px;
  position: absolute;
  top: 40px;
  
}
header .inner .logo img{
  height: 80px;
  position: absolute;
  
}
header .top-navi{
  height: 80px;
  right: 0px;
  top: 30px;
  position: absolute;
  width: 400px;
  right: 30px;
}
header .top-navi ul.navi {
  width: 100%;
  height: 50px;
  padding: 0;
  
}
header .top-navi ul.navi li{
  list-style: none;
  font-size: 10px;
  width: 50%;
  display: inline-block;
  height: 40px;
  width: 23%;
  
}
header .top-navi ul.navi li::before{
  content: "";
  position: absolute;

}
header .top-navi ul.navi li a{
  font-size: 16px;
  
  color: black;
  text-decoration-line: none;
  margin: 5px;
}
header .top-navi ul.navi li a:hover{
  
  color: brown
}
header .search{
  position: absolute;
  height: 35px;
  width: 700px;
  bottom: 50px;
  left: 21%;
  
}
header .search .material-icons{
  font-size: 37px;
  position: absolute;
  right: 0;
  bottom: -2px;
}
header .search #search-button{
  border-radius: 7px;
}
header .search #search-button:focus{
  border: 3px solid lightsalmon;
}
header .search>input{
  height: inherit;
  width: 700px;
  left: inherit;
}
header .order{
  height: 50px;
  width: 100px;
  position: absolute;
  right: 200px;
  top: 165px;
}
header .order #order a .material-symbols-outlined{
  font-size: 37px;
  position: absolute;
  right: 100px;
  color: #333;


}
header .order #favor a .material-symbols-outlined{
  font-size: 37px;
  position: absolute;
  color: #333;
}

.navigator{
  margin: 40px 0;
  height: 10%;
  width: 100%;
  position: relative;

}
#navi{
  list-style-type: none;
            height: 100%;
}
#navi>li{

  display: inline-block;
  width: 15%;
  height: 42px;
  text-align: center;
margin: auto;
  vertical-align: top;/*inline요소들의 수직정렬 기준*/
  background-color: lightskyblue;
  border: 1px solid;
  
}
#navi a{
  /* border: 1px solid red; */
  color: #333;
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
  display: block;
  width: 100%;
  

  /* transform: scale(1); */
}
#navi a:hover{
  font-size: 20px;
  color: brown;
}
/*
#navi>li>ul{
  position: relative;
  list-style-type: none;
  padding: 0px;
  font-size: 43px;
  text-align: center;
  display: block;
  background-color:darkblue;
}
#navi>li>ul a{
  
  font-size: 23px;
  margin: 30px 0;
  text-align: center;
}
#navi>li>ul a:hover{
  font-size: 20px;
  display : block;
}

#navi>li>a:hover+ul {
  /* 평소에는 안보여지다가 마우스가 올라가는 순간 펼쳐지는 효과 부여 2단계 */
  /* display : block; */
 /* 메인메뉴에만 마우스가 올라갈 때 유지가 되므로 */
/* }*/ 
.list{
  
  width: 150px;
  height: 300px;
  position: absolute;
  margin-left: 200px;
  margin-top: 50px;
}
.list>div{
  background-color: lightsteelblue;
  width: 100%;
  height: 33%;
  border: 1px solid black;
  text-align: center;
  margin-top: 20px;
  border-radius: 5%;
}
.list>div>h3{
  
  margin-top: 40px;
  font-size: 20px;
}


/* 첫번째 카테고리 나열 */
.category{
  
  position: absolute;
  width: 1200px;
  height: 400px;
  margin: 50px 0;
  z-index: -1;
  right: 120px;
}
.category ul{
  
  height: 50%;
}
.category div{
  display: inline-block;
  
  height: 100%;
  width: 18%;
  border: 1px solid black;
}
.category div>img{
  height: inherit;
}
/* 두번째 카테고리 나열 */
.category2{
  
  position: absolute;
  width: 1400px;
  height: 400px;
  margin: 50px 0;
  
  margin: 40px;
  right: 120px;
}
.category ul{
  
  height: 50%;
}
.category li{
  display: inline-block;
  
  height: 100%;
  width: 18%;
  border: 1px solid black;
}
.category li>img{
  height: inherit;
}
/* 세번째 카테고리 나열 */
.category3{
  
  position: absolute;
  width: 1400px;
  height: 400px;
  margin: 50px 0;
  
  margin: 40px;
  right: 120px;
}
.category ul{
  
  height: 50%;
}
.category li{
  display: inline-block;
  
  height: 100%;
  width: 18%;
  border: 1px solid black;
}
.category li>img{
  height: inherit;
}

/* 카테고리 2차 div*/
